.image {
    margin-bottom: 50px;

    .image-holder {
        margin: 0;
        text-align: center;
    }
}
.content h1 {
    font-size: 4.7em;
    color: #636363;

    @media(max-width: 1024px) {
        font-size: 4em;
    }
    @media(max-width: 768px) {
        font-size: 3em;
    }
    @media(max-width: 576px) {
        font-size: 2em;
    }
}
.content h1 span {
    color: #C3C3C3;
}
.content-holder {
    color: #636363;
    margin-bottom: 60px;

    .left {
        font-size: 10em;
        text-transform: uppercase;
        font-weight: 100;

        @media(max-width: 1024px) {
            font-size: 7em;
        }
    }
    .right {
        font-size: 2em;
        text-align: left;

        @media(max-width: 1024px) {
            font-size: 1.6em;
        }
    }

}

.search-404 {
    text-align: center;
    font-size: 2em;

    .submit {
        width: 80px;
    }

    .search-holder {
        margin-bottom: 65px;
    }

    .navigation a {
        color: #080409;

        @media(max-width: 576px) {
            font-size: 1em;
        }
    }

}
