.accordion {
	width: 100%;

	.accordion-toggle-icon {
		font-size: 1.2em;
		color: #333;
		position: absolute;
		top: 35px;
		right: 35px;
		padding: 10px;
		transform: rotate(135deg);
    	transition: 200ms ease-in-out;

		@media(max-width: 576px) {
			right: 20px;
		}
	}

	.accordion-toggle {
		position: absolute;
		top: 0;
		left: 0 !important;
		right: 0 !important;
		width: 100%;
		height: 100%;
		z-index: 1;
		opacity: 0;
		cursor: pointer;

		&:checked ~ .content {
			margin-top: 0;
			max-height: 0;
			opacity: 0;
		}
		&:checked ~ .accordion-toggle-icon {
			transform: rotateX(0);
		}

		&:hover ~ .accordion-toggle-icon {
			opacity: .7;
		}
	}


	h2 {
	    cursor: pointer;
	    -webkit-tap-highlight-color: transparent;
	    -webkit-touch-callout: none;
	    -webkit-user-select: none;
	    -khtml-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
		transition: all 300ms ease-out;
	}

	.content {
		position: relative;
		overflow: hidden;
		max-height: 1000vh;
		opacity: 1;
		margin: 0;
		z-index: 2;
		transition: all 300ms ease-in-out;
	}

}
