@import 'vars.scss';

$banner-height: 80vh;


.banner {
    background-image: url(../images/bg-default.png);
    background-repeat: repeat;
    height: $banner-height;
    position: relative;
    z-index: 1000;

	@media (max-width: 1440px) {
		//background-image: none;
		background-color: #505054;
	}
    @media (max-width: 1024px) {
        background-image: none;
    }
    @media (max-width: 768px) {
        height: auto;
    }

    .banner-slide {
        position: relative;
        display: block !important;
        height: $banner-height;

        @media (max-width: 768px) {
            height: auto;
        }
    }

    .banner-caption {
        height: 100%;
        padding: 0 100px 150px 200px;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        align-items: flex-start;

		@media (max-width: 1440px) {
            //padding: 0 0 50px 0;
            padding-bottom: 80px;
        }
        @media (max-width: 768px) {
			position: inherit;
    		padding: 32px;
        }


        .title {
            font-size: 2em;
            font-weight: 700;
            color: #fff;
            line-height: 135%;
            text-transform: uppercase;
            margin: 0;

            @media (max-width: 1440px) {
                font-size: 1.6em;
            }
        }
        .subtitle {
            @extend .title;
            font-size: 1.8em;
            font-weight: 600;
            color: $color-default;

            @media (max-width: 1440px) {
                font-size: 1.4em;
            }
        }
        .content {
            width: 50%;
            font-size: 1.1em;
            font-weight: 400;
            color: #fff;
            padding-top: 50px;

			@media (max-width: 1440px) {
				font-size: .9em;
				padding-top: 25px;
			}
			@media (max-width: 1024px) {
				width: 75%;
			}
            @media (max-width: 768px) {
                width: 100%;
                padding-bottom: 20px;
            }
        }
    }

    .banner-link {
        width: 100%;
        text-align: right;
    }

    .banner-image {
        background-color: #111;
        height: 100%;

        clip-path: polygon(100% 0, 100% 100%, 24% 100%, 15% 11%, 22.3% 0);
        -webkit-clip-path: polygon(100% 0, 100% 100%, 24% 100%, 15% 11%, 22.3% 0);

        @media (max-width: 1440px) {
            clip-path: polygon(100% 0, 100% 100%, 15% 100%, 5% 10%, 11.3% 0);
            -webkit-clip-path: polygon(100% 0, 100% 100%, 15% 100%, 5% 10%, 11.3% 0);
        }
        @media (max-width: 1024px) {
            clip-path: none;
            -webkit-clip-path: none;
        }

        .banner-image-bg {
            background-size: cover;
            background-repeat: no-repeat;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;

            opacity: .2;
            filter: blur(3px);
            -webkit-filter: blur(3px);
        }

        img {
            width: 100%;
            height: auto;
            display: block;

            opacity: .2;
            filter: blur(3px);

            @media (max-width: 768px) {
                display: none;
            }
        }
    }

    .banner-mask {
        background-image: url(../images/banner-mask.png);
    }



    .slick-slider,
    .slick-list,
    .slick-track,
    .slick-slide > div {
        height: $banner-height;

        @media (max-width: 768px) {
            height: auto;
        }
    }
    .slick-nav {
        background: transparent;
        font-size: 3.5em;
        font-weight: 100;
        color: $color-default;
        text-align: center;
        position: absolute;
        top: 50%;
        margin-top: -23px;
        outline: 0 !important;
        border: none;
        padding: 0;
        cursor: pointer;
        z-index: 9;

		@media(max-width: 1024px) {
			font-size: 2.5em;
		}
		@media(max-width: 768px) {
			display: none !important;
		}

        &:hover {
            opacity: .6;
        }

        &.slick-prev {
            left: 40px;
        }
        &.slick-next {
            right: 40px;
        }
    }

    // animation
    .slick-slide {
        &.slick-active .banner-caption {
            transform: translateX(0);
            opacity: 1;
        }

        .banner-caption {
            transform: translateX(400px);
            opacity: 0;
            transition: transform 0.4s ease-in-out, opacity 0.8s ease-in-out;
        }
    }
}
