body.page-template-page-sobre,
body.page-template-page-acoes {
    footer .footer.-first::before {
        background-color: #f0f3f2;
    }
}


footer {
    position: relative;

    .footer {
        background-color: #fff;

        p {
            color: #fff;
            font-size: .9em;
        }

        &.-first {
            background-color: #4f5054;
            width: 100%;
            position: relative;
            padding: 80px 0;
            margin-top: 120px;

			@media(max-width: 768px) {
				margin-top: 0;
			}

            &::before {
                content: '';
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 0 120px 100vw;
                border-color: transparent transparent #4f5054 transparent;
                position: absolute;
                top: -120px;

				@media(max-width: 768px) {
					display: none;
				}
            }
        }

        &.-second {
            background-color: #65666a;
            width: 100%;
            position: relative;
            padding: 30px 0 80px;
            margin-top: 100px;

			@media(max-width: 768px) {
				margin-top: 0;
				padding: 80px 0;
			}

            &::before {
                content: '';
                background-color: #4f5054;
                width: 0;
                height: 0;
                border-top: 100px solid transparent;
                border-bottom: 0 solid transparent;
                border-left: 100vw solid #65666a;
                position: absolute;
                top: -100px;

				@media(max-width: 768px) {
					display: none;
				}
            }
        }

    }

	.footer-holder {
		@media(max-width: 1024px) {
			margin: 0;
		}
	}

    .title {
        font-size: 1em;
        font-weight: 100;
        color: $color-tertiary;
        text-transform: uppercase;
    }

    .footer-logos {
		@media(max-width: 1024px) {
			padding: 0;
		}
        @media(max-width: 767px) {
            img {
                width: 50%;
                margin: 0 auto 50px;
                display: block;
            }
        }

		&::after {
            content: '';
            background-image: url(../images/line.svg);
            background-repeat: no-repeat;
            background-size: contain;
            width: 2px;
            height: 297px;
            position: absolute;
            top: -70px;
            right: 0;
            z-index: 9;

			@media(max-width: 768px) {
				display: none;
			}
        }
    }
    .footer-contacts {
        padding-left: 80px;

		@media(max-width: 768px) {
			text-align: center;
			padding: 50px 0 0;
		}

        a {
            font-size: 1em;
            font-weight: 400;
            color: #fff;

            &:hover {
                opacity: .7;
            }
        }
    }

    .footer-menu {
        padding: 0;

		@media(max-width: 576px) {
			margin-bottom: 30px;
		}

        a {
            font-size: .9em;
            font-weight: 400;
            color: #fff;
            padding: 4px 0;
            display: block;

            &:hover {
                opacity: .7;
            }
        }

    }

    .footer-endereco {

        @media(max-width: 576px) {
			padding: 0;
		}

        .endereco {
            margin-bottom: 50px;
        }

		.image {
            margin-right: 60px;

			@media(max-width: 576px) {
				display: none;
			}

			img {
                width: 55px;
            }
        }
    }

    .footer-sign {
        font-size: .9em;

        strong {
            color: $color-tertiary;
        }
        a {
            color: #fff;

            &:hover {
                opacity: .7;
            }
        }

    }


    // backtop
    .backtop {
        position: absolute;
        right: 32px;
        bottom: 32px;
        font-size: 1.8em;
        line-height: 1;
        color: #fff;
        padding: 8px 10px;

        @media(max-width: 1024px) {
			background-color: #515054;
            font-size: 2.2em;
            text-align: center;
            position: inherit;
            bottom: inherit;
            right: inherit;
			border: none;
            display: block;
        }
    }

}
