@import "placeholder.scss";

input {
    background: none;
    border: 1px solid #343437;
    padding: 0 20px;
    color: #343437;
    font-size: 1em;
    min-width: 100%;
    max-width: 100%;
    height: 50px;
    border-radius: 6px;
    margin: 0;

	appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;

    @include placeholder {
        opacity: .5;
        color: #343437;
    };
}

textarea {
    @extend input;
    height: 150px;
    max-height: 150px;
}

select {
    @extend input;

	font-weight: 600;
	text-transform: uppercase;
    // min-width: auto;
	height: auto;
    padding: 12px 50px 12px 30px;
    border: 3px solid #333;
	border-radius: 0;
	cursor: pointer;
}


[type="checkbox"]:not(:checked),
[type="checkbox"]:checked,
[type="radio"]:not(:checked),
[type="radio"]:checked {
    position: absolute;
    left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label,
[type="checkbox"]:not(:checked) + span,
[type="checkbox"]:checked + span,
[type="radio"]:not(:checked) + label,
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + span,
[type="radio"]:checked + span {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    color: #94959f;
    min-height: 30px;
    font-weight: 100;
    line-height: 30px;
    display: block;
    font-size: 1.2em;
}
[type="checkbox"]:checked + label:before,
[type="checkbox"]:checked + span:before,
[type="radio"]:checked + label:before,
[type="radio"]:checked + span:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #B0BAC1;
    background-color: transparent;
    opacity: 1;
}
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:not(:checked) + span:before,
[type="radio"]:not(:checked) + label:before,
[type="radio"]:not(:checked) + span:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #B0BAC1;
    background-color: transparent;
    opacity: .4;
}
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after,
[type="checkbox"]:not(:checked) + span:after,
[type="checkbox"]:checked + span:after,
[type="radio"]:not(:checked) + label:after,
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + span:after,
[type="radio"]:checked + span:after {
    content: '\f00c';
    position: absolute;
    top: 0;
    left: 4px;
    font-size: .9em;
    line-height: 20px;
    color: $color-default;
    font-family: 'icomoon';
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:not(:checked) + span:after,
[type="radio"]:not(:checked) + label:after,
[type="radio"]:not(:checked) + span:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="checkbox"]:checked + label:after,
[type="checkbox"]:checked + span:after,
[type="radio"]:checked + label:after,
[type="radio"]:checked + span:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before,
[type="checkbox"]:disabled:not(:checked) + span:before,
[type="checkbox"]:disabled:checked + span:before,
[type="radio"]:disabled:not(:checked) + label:before,
[type="radio"]:disabled:checked + label:before,
[type="radio"]:disabled:not(:checked) + span:before,
[type="radio"]:disabled:checked + span:before {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after,
[type="checkbox"]:disabled:checked + span:after,
[type="radio"]:disabled:checked + label:after,
[type="radio"]:disabled:checked + span:after {
    color: #999;
}
[type="checkbox"]:disabled + label,
[type="checkbox"]:disabled + span,
[type="radio"]:disabled + label,
[type="radio"]:disabled + span {
    color: #aaa;
}


[type="file"], .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;

    + label {
        font-size: 1em;
        font-weight: 100;
        color: white;
        background-color: $color-default;
        display: inline-block;
        cursor: pointer;
        text-transform: uppercase;
        white-space: pre-wrap;
        padding: 10px 15px;
        text-align: left;
        display: flex;
        margin: 0;
        justify-content: space-between;
        line-height: 100%;
        align-items: center;
    }
    &:focus + label, + label:hover {
        background-color: $color-default;
    }

}

.div-control, .file-control {
    border: 1px solid #B0BAC1;
    padding: 15px 30px;
    height: 100%;
}
.file-control {
    padding: 5px 5px 5px 30px !important;

    .inputfile-label {
        color: $color-default;
        font-size: 1.6em;
    }

    .icon-share {
        font-size: 2.2em;
        margin-right: 10px;
    }
}

.form-control {
    margin-bottom: 20px;


    &:last-child {
        margin-bottom: 0;
    }

    .input-control {
        position: inherit;

        @media(max-width: 768px) {

            &:first-child {
                margin-bottom: 20px;
            }

            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }

    }

    .select-control {
        position: relative;

        &::before {
            content: '\f078';
            font-family: 'icomoon';
            font-size: 1em;
            font-weight: 700;
            position: absolute;
            right: 20px;
            top: calc(50% - 12px);
            pointer-events: none;
            cursor: pointer;
            z-index: 1;
		}

		&:hover {
			select {
				background-color: #333;
				color: #f4f4f4;
			}

			&::before {
				color: #f4f4f4;
			}
		}
    }

    .input-error {
        letter-spacing: 0.05em;
        bottom: -10px;
        position: absolute;
        right: -10px;
        background-color: #fff;
        color: #e45b5b;
        padding: 2px 10px;
        filter: drop-shadow(0 1px 1px rgba(0,0,0,0.16));
        white-space: nowrap;
        z-index: 1;
    }

    .info {
        position: absolute;
        padding-top: 10px;
        display: block;
        font-size: 1.1em;
        letter-spacing: 0.01em;
        opacity: .7;
    }

    .title {
        margin-bottom: 8px;
        display: block;
        font-weight: 600;
    }

}


// contact form hacks
.wpcf7-form-control-wrap {
    position: relative;
    display: inline-block;
    width: 100%;
}
.wpcf7-list-item-label {
    font-size: 1em;
    text-transform: uppercase;
    margin-left: 5px;
    color: #454545;
}
span.wpcf7-not-valid-tip {
    letter-spacing: 0.05em;
    bottom: 5px;
    position: absolute;
    right: -10px;
    background-color: #fff;
    padding: 2px 10px;
}
div.wpcf7 .ajax-loader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    padding: 0;
    background-image: url('../images/loader.svg') !important;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    z-index: 9;
}
