body.home .header {
	background: none;
}

.header {
	background-image: url("../images/bg-header.jpg");
	background-repeat: no-repeat;
	background-position: left;
	height: 150px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 1009;
	transition: 0.4s height ease-in-out;

	@media(max-width: 1440px) {
		background-position: -260px;
	}

	@media(max-width: 1024px) {
		background-image: none;
		background-color: #4f5054 !important;
		height: 80px;
		filter: drop-shadow(0 3px 10px rgba(0, 0, 0, .1));
	}

	&.-minify {
		background-color: #4f5054 !important;
		height: 80px;
		filter: drop-shadow(0 3px 10px rgba(0, 0, 0, .1));

		.logo {
			padding: 10px 0;
		}
	}

	.header-container,
	.header-holder {
		height: 100%;
		@media(max-width: 1024px) {
			margin: 0;
		}
	}

	.logo {
		padding: 30px 0;
		height: 100%;
		@media(max-width: 1024px) {
			padding: 10px 0;
			z-index: 1001;
			position: relative;
		}

		img {
			height: 100%;
			max-height: 100%;
			display: block;
		}
	}

	.menu-holder {
		display: flex;
		align-items: center;
		height: 100%;
		position: relative;
	}

	.menu {
		display: flex;
		list-style: none;
		margin: 0;
		padding: 0;
		height: 100%;
		@media(max-width: 1024px) {
			width: 50%;
			height: calc(100vh - 80px);
			background-color: #505054;
			position: fixed;
			top: 80px;
			left: 0;
			bottom: 0;
			right: 0;
			z-index: 999;
			transform: translateX(-100%);
			transition: 350ms ease-in-out;
			display: flex;
			padding: 32px;
			flex-direction: column;
			overflow: scroll;
			-webkit-overflow-scrolling: touch;

			&.open {
				transform: translateX(0);
			}
		}
		@media(max-width: 768px) {
			width: 70%;
		}
		@media(max-width: 480px) {
			width: 100%;
		}

		li {
			margin-left: 30px;
			height: 100%;
			position: relative;
			@media(max-width: 1024px) {
				height: auto;
				margin: 0;
			}

			&:first-child {
				margin: 0;
			}

			&.current_page_item a {
				color: $color-default;
			}

			&:hover {
				> a {
					color: $color-default;
				}
			}

			.sub-menu > li {
				&:hover > a {
					color: #fff;
				}
			}

			.menu-item-has-children {
				display: flex;
				align-items: center;

				@media (max-width: 1024px) {
					display: block;
				}
			}

		}

		a {
			font-size: 0.8em;
			font-weight: 700;
			color: #fff;
			text-decoration: none;
			text-transform: uppercase;
			white-space: nowrap;
			height: 100%;
			display: flex;
			align-items: center;
			@media(max-width: 1024px) {
				font-size: 1.1em;
				white-space: pre-wrap;
				padding: 0;
				height: 35px;
			}

			&:hover {
				color: $color-default;
			}
		}

		& > li:hover > .sub-menu {
			visibility: visible;
			opacity: 1;
			transform: translate(0);
		}

		& > li > .sub-menu {
			position: absolute;
			top: calc(100% - 45px);
			left: -35px;
			padding: 25px 35px;
			background-color: #00a2af;
			list-style: none;
			z-index: 1001;
			visibility: hidden;
			transform: translateY(20px);
			opacity: 0;
			transition: all 300ms cubic-bezier(0.4, 0, 1, 1);
			@media(max-width: 1024px) {
				display: block;
				visibility: visible;
				opacity: 1;
				background-color: transparent;
				position: inherit;
				top: inherit;
				left: inherit;
				padding: 0;
				transform: translate(20px, 0) !important;
				overflow: hidden;
				width: 100%;
				margin-bottom: 20px;
				font-size: 1em;
			}

			& > li:hover > .sub-menu {
				visibility: visible;
				opacity: 1;
			}

			li {
				line-height: 150%;
				margin: 0;
				position: unset;
			}

			a {
				color: #fff;
				@media(max-width: 1024px) {
					color: #00a7cf !important;
				}

				&:hover {
					opacity: 0.7;
				}
			}
		}
	}

	// header search
	.btn__search {
		font-size: 1.2em;
		color: #fff !important;
		margin-left: 35px;
		padding-top: 5px;
		cursor: pointer;
		@media(max-width: 1024px) {
			display: none;
		}

		&.active {
			color: $color-default !important;
		}
	}

	.search {
		background-color: #fff;
		width: 50%;
		height: auto;
		overflow: hidden;
		z-index: -1;
		position: absolute;
		top: 75%;
		right: 0;
		transform: translateX(100%);
		transition: 300ms ease-in-out;

		&.open {
			transform: translateX(0);
		}

		.search-holder {
			padding: 20px 0;
		}

		.search-form {
			position: relative;
		}

		.btn {
			position: absolute;
			top: 0;
			right: 0;
			width: auto;
			height: 100%;
			min-width: 1px;

			&.-search {}
		}

		input {
			margin: 0;
			@media(max-width: 576px) {
				padding: 8px 20px;
				font-size: 1.2em;
			}
		}
	}


	// language switcher
	.lang-item {

		&:nth-last-child(-n+2) {
			margin-left: 50px;
		}
		&:last-child {
			margin-left: 15px;
		}

		&.current-lang a {
			filter: grayscale(0);
		}

		a {
			background-repeat: no-repeat;
		    background-position: center;
		    text-indent: -9999px;
		    width: 32px;
			filter: grayscale(1);

			&:hover {
				filter: grayscale(0);
			}

			&[lang=pt-BR] {
				background-image: url(../images/ico-br.png);
			}
			&[lang=en-US] {
				background-image: url(../images/ico-en.png);
			}

		}

		@media(max-width: 1024px) {
			margin-left: 0 !important;

			&:nth-last-child(-n+2) {
				margin-top: 50px;
			}
			&:last-child {
				margin-top: 10px;
			}

			a {
			    text-indent: 45px;
			}
		}


	}

}

.menu-item:hover > a {
	color: #00a7cf;
}

.sub-menu > li:hover > a {
	color: #fff;
}

.menu-hamburger {
	display: none;
	margin-left: 40px;
	@media(max-width: 1024px) {
		display: flex;
	}

	.hamburger-nav-trigger {
		position: relative;
		z-index: 1001;
		height: 48px;
		width: 48px;
		background-color: #f6f6f6;
		border-radius: 50%;
		overflow: hidden;
		text-indent: 100%;
		white-space: nowrap;
		-webkit-transition: -webkit-transform 0.5s;
		-moz-transition: -moz-transform 0.5s;
		transition: transform 0.5s;
	}

	.hamburger-nav-trigger .hamburger-nav-icon {
		position: absolute;
		left: 50%;
		top: 50%;
		bottom: auto;
		right: auto;
		-webkit-transform: translateX(-50%) translateY(-50%);
		-moz-transform: translateX(-50%) translateY(-50%);
		-ms-transform: translateX(-50%) translateY(-50%);
		-o-transform: translateX(-50%) translateY(-50%);
		transform: translateX(-50%) translateY(-50%);
		width: 22px;
		height: 2px;
		background-color: #0a343a;
	}

	.hamburger-nav-trigger .hamburger-nav-icon::before,
	.hamburger-nav-trigger .hamburger-nav-icon:after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background-color: inherit;
		-webkit-transform: translateZ(0);
		-moz-transform: translateZ(0);
		-ms-transform: translateZ(0);
		-o-transform: translateZ(0);
		transform: translateZ(0);
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		-webkit-transition: -webkit-transform 0.5s,width 0.5s,top 0.3s;
		-moz-transition: -moz-transform 0.5s,width 0.5s,top 0.3s;
		transition: transform 0.5s,width 0.5s,top 0.3s;
	}

	.hamburger-nav-trigger .hamburger-nav-icon::before {
		-webkit-transform-origin: right top;
		-moz-transform-origin: right top;
		-ms-transform-origin: right top;
		-o-transform-origin: right top;
		transform-origin: right top;
		-webkit-transform: translateY(-6px);
		-moz-transform: translateY(-6px);
		-ms-transform: translateY(-6px);
		-o-transform: translateY(-6px);
		transform: translateY(-6px);
	}

	.hamburger-nav-trigger .hamburger-nav-icon::after {
		-webkit-transform-origin: right bottom;
		-moz-transform-origin: right bottom;
		-ms-transform-origin: right bottom;
		-o-transform-origin: right bottom;
		transform-origin: right bottom;
		-webkit-transform: translateY(6px);
		-moz-transform: translateY(6px);
		-ms-transform: translateY(6px);
		-o-transform: translateY(6px);
		transform: translateY(6px);
	}

	.hamburger-nav-trigger:hover .hamburger-nav-icon::after {
		top: 2px;
	}

	.hamburger-nav-trigger:hover .hamburger-nav-icon::before {
		top: -2px;
	}

	.hamburger-nav-trigger svg {
		position: absolute;
		top: 0;
		left: 0;
	}

	.hamburger-nav-trigger circle {
		-webkit-transition: stroke-dashoffset 0.4s 0s;
		-moz-transition: stroke-dashoffset 0.4s 0s;
		transition: stroke-dashoffset 0.4s 0s;
	}

	&.open .hamburger-nav-trigger {
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		transform: rotate(180deg);
	}

	&.open .hamburger-nav-trigger .hamburger-nav-icon::after,
	&.open .hamburger-nav-trigger .hamburger-nav-icon::before {
		width: 50%;
		-webkit-transition: -webkit-transform 0.5s,width 0.5s;
		-moz-transition: -moz-transform 0.5s,width 0.5s;
		transition: transform 0.5s,width 0.5s;
	}

	&.open .hamburger-nav-trigger .hamburger-nav-icon::before {
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	&.open .hamburger-nav-trigger .hamburger-nav-icon::after {
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}

	&.open .hamburger-nav-trigger:hover .hamburger-nav-icon::after,
	&.open .hamburger-nav-trigger:hover .hamburger-nav-icon::before {
		top: 0;
	}

	&.open .hamburger-nav-trigger circle {
		stroke-dashoffset: 0;
		-webkit-transition: stroke-dashoffset 0.4s 0.3s;
		-moz-transition: stroke-dashoffset 0.4s 0.3s;
		transition: stroke-dashoffset 0.4s 0.3s;
	}

	.hamburger-nav {
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: #243040;
		visibility: hidden;
		-webkit-transition: visibility 0s 0.7s;
		-moz-transition: visibility 0s 0.7s;
		transition: visibility 0s 0.7s;
	}

	.hamburger-nav .hamburger-navigation-wrapper {
		height: 100%;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		padding: 40px 5% 40px calc(5% + 80px);
		-webkit-transform: translateZ(0);
		-moz-transform: translateZ(0);
		-ms-transform: translateZ(0);
		-o-transform: translateZ(0);
		transform: translateZ(0);
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		transform: translateX(-50%);
		-webkit-transition: -webkit-transform 0.7s;
		-moz-transition: -moz-transform 0.7s;
		transition: transform 0.7s;
		-webkit-transition-timing-function: cubic-bezier(.86,.01,.77,.78);
		-moz-transition-timing-function: cubic-bezier(.86,.01,.77,.78);
		transition-timing-function: cubic-bezier(.86,.01,.77,.78);
	}

	.open .hamburger-nav {
		visibility: visible;
		-webkit-transition: visibility 0s 0s;
		-moz-transition: visibility 0s 0s;
		transition: visibility 0s 0s;
	}

	.open .hamburger-nav .hamburger-navigation-wrapper {
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);
		-webkit-transition: -webkit-transform 0.5s;
		-moz-transition: -moz-transform 0.5s;
		transition: transform 0.5s;
		-webkit-transition-timing-function: cubic-bezier(.82,.01,.77,.78);
		-moz-transition-timing-function: cubic-bezier(.82,.01,.77,.78);
		transition-timing-function: cubic-bezier(.82,.01,.77,.78);
	}
}
