@import "placeholder.scss";
@import "forms.scss";

.newsletter {
    // background-image: url(../images/bg-newsletter.png);
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    background-color: #CECECE;

    p {
        margin-bottom: 0;
    }

    .newsletter-container {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .newsletter-body {
        background-color: #fff;
        padding: 45px;
    }

    .newsletter-title {
        text-align: center;
        margin-bottom: 30px;

        .title {
            font-size: 2.3em;
            text-transform: uppercase;
            font-weight: 100;
            line-height: 100%;
            margin-bottom: 10px;
        }
    }

    .newsletter-form {
        width: 80%;
        margin: 0 auto;
        position: relative;

        @media(max-width: 576px) {
            width: 100%;
        }
    }

}
.newsletter-social {
    position: absolute;
    bottom: 20px;
    right: 20px;

    @media(max-width: 576px) {
        position: inherit;
        bottom: inherit;
        right: inherit;
        padding-top: 35px;
    }

    .social {
        margin: 0;
        text-align: left;

        @media(max-width: 576px) {
            text-align: center;
        }

        a {
            font-size: 2.2em;
            font-weight: 100;
            color: #333 !important;
            margin-left: 0;
            margin-right: 10px;
            opacity: 1;

            &:hover {
                opacity: .6;
            }
        }

        .fa-facebook {
            color: #3b5998;
        }

        .fa-twitter {
            color: #00aced;
        }

        .fa-instagram {
            background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;

            &:hover {
                opacity: .6;
            }

         }

        .fa-whatsapp {
            color: #32BA46;
        }

        .fa-pinterest {
            color: #BD081C;
        }

    }

}
