@import 'vars.scss';

.pagination {
    background-color: transparent;
	width: 100%;
	margin: 0;

    .pagination-container {
        padding: 40px 0 0;
        width: 100%;
    }

    .page-numbers {
        background-color: transparent;
        font-size: 1em;
        font-weight: 700;
        color: #99a9b5;
        margin: 0 10px 0 0;
        height: 30px;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid #99a9b5;
        border-radius: 3px;

        &:hover {
            background-color: #00bcd4 !important;
            color: #fff;
            border: 2px solid #00bcd4 !important;
        }

        &.current {
            background-color: #3c3950;
            color: #fff;
            border: 2px solid #3c3950;

            &:hover {
                background-color: #3c3950 !important;
                border: 2px solid #3c3950 !important;
            }
        }

        &.next, &.prev {
            background-color: #99a9b5;
            font-size: .7em;
            color: #fff;
            border: 2px solid #99a9b5;

            &::before {
                font-family: 'icomoon';
            }
        }

        &.next::before {
            content: '\e912';
        }

        &.prev::before {
            content: '\e913';
        }
    }

}
