.tab-container {
    background-color: #f3f3f3;
    padding: 30px 20px;
    border-width: 1px;
    border-style: solid;
    border-color: #AEADB3 #AEADB3 #AEADB3 #AEADB3;

    @media(max-width: 576px) {
        margin-top: 5px;
    }
}

.tab-content {
    opacity: 0;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    transition: opacity 350ms ease-in-out;

    &.active {
        height: auto;
        opacity: 1;
        visibility: visible;
    }
}

.menu-tab {
    width: 100%;

    > .tab-link-list {
		list-style: none;
	    width: 100%;
	    padding: 0 0 0 5px;
	    margin: 0;
	    display: flex;
	    align-items: center;
	    justify-content: flex-start;

        @media(max-width: 480px) {
            -webkit-box-orient: vertical !important;
            -webkit-box-direction: normal !important;
            -ms-flex-direction: column !important;
            flex-direction: column !important;
            display: block !important;
			height: auto;
			border: none;
        }
    }

	.tab-list {
		color: #5f727f !important;
	    font-size: .9em;
	    font-weight: 400;
	    text-transform: uppercase;
	    padding: 12px 25px;
	    display: block;
	    cursor: pointer;

        @media(max-width: 768px) {
            font-size: 1em;
            padding: 10px 20px;
        }

        &:hover {
            background-color: #e5e5e5;
        }

        &.active {
			background-color: transparent;
			font-weight: 700;
			box-shadow: 1px 1px 8px rgba(0,0,0,.2);
        }

    }

}
