@import "vars.scss";

.acoes-about {
    background-image: url(../images/bg-sobre.jpg);
	background-color: #fff;
    background-position: right top;
    background-repeat: no-repeat;
    background-size: contain;
    height: auto;
    padding: 150px 0;

	@media(max-width: 1024px) {
    	padding: 60px 0;
	}
	@media(max-width: 768px) {
		background-image: none;
	}

}

.acoes {
    background-color: #f4f4f4;

    .acoes-container {
        //padding: 0;
    }

    .acoes-grupo {
        margin-bottom: 50px;

        .title {
            font-size: 1.875em;
            color: #333;
            margin-bottom: 20px;
        }
    }

    .acoes-holder {
        margin-bottom: 15px;
    }

    .acoes-item-holder {
        background-repeat: no-repeat;
        background-size: cover;
        height: 160px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 300ms ease-in-out;
        cursor: pointer;

		@media(max-width: 1024px) {
			height: calc((100vw - 264px) / 6);
		}
		@media(max-width: 768px) {
			height: calc((100vw - 184px) / 4);
		}
		@media(max-width: 767px) {
			height: calc(100vw - 40px);
			margin-bottom: 15px;
		}

        &.active, &:hover {
            border: 3px solid $color-default;

            .name {
                color: $color-default;
            }
        }

        .name {
            font-size: .9em;
            font-weight: 600;
            color: #fff;
            text-align: center;
            margin: 0;
        }
    }

    .acoes-content {
        margin: 0;

        .acoes-content-holder {
            background-color: #d8dade;
            padding: 30px 40px;
            display: none;

            &::after {
                content: '';
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 20px 0 20px 20px;
                border-color: transparent transparent transparent #f4f4f4;
                position: absolute;
                top: 25px;
                left: 0;
            }
        }

        .title-interno {
            font-size: 1.25em;
            color: #333;
        }

        .content {
            font-size: .9em;
            font-weight: 400;
            color: #333;

            p {
                font-weight: normal;
                color: inherit;
            }
        }
    }

}
