@import "vars.scss";
@import "pagination.scss";
@import "accordion.scss";
@import "tab.scss";
@import "magnific.scss";


.agenda {

	.agenda-title {
		padding-bottom: 80px;
	}

    .agenda-navigation {
        padding-bottom: 30px;
    }

    .agenda-nav {
        display: flex;

        .form-control {
			margin-bottom: 0;

			&:first-child .select-control select {
				border-right: 1px solid #e3e3e4;
			}

		}
    }


    .evento {
		background-color: #f4f4f4;
        color: #333;
        padding: 45px;
        margin-bottom: 40px;
		position: relative;

        &.-load {
            border-bottom: 0;
        }

        &.-error {
            width: 100%;
        }


		.evento-nav {
			padding-top: 55px;
		}

        .evento-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;

            .title {
                font-size: 1.25em;
                font-weight: 700;
                margin: 0;
            }
            .title a {
                color: #333;
            }

			.time {
			    font-size: 1.2em;
			    font-weight: 100;
			}

        }

        .evento-content {
            font-size: 1em;
            font-weight: 400;
			color: #666;
            margin-bottom: 35px;
			padding-top: 35px;
        }

		.evento-gallery {
			padding-top: 50px;

			.image:nth-of-type(1n+5) {
				display: none;
			}
			.image {
				margin-bottom: 15px;

				img {
					width: 100%;
				}
			}
		}

		.evento-footer {
			@media(max-width: 767px) {
    			text-align: center;
			}

			.evento-links {
				@media(max-width: 767px) {
					text-align: center;
					margin-bottom: 20px;
				}

				a {
				    background-color: #4f5054;
				    font-size: 1.1em;
				    color: #fff;
				    width: 32px;
				    height: 32px;
				    border-radius: 5px;
				    margin-right: 15px;
				    display: inline-flex;
				    align-items: center;
				    justify-content: center;
				}
			}
			.evento-time {
			    @media(max-width: 767px) {
					text-align: center;
				}
			}
		}

    }

}
