@import "vars.scss";
@import "placeholder.scss";

.contato {

	.contato-holder {

		@media(min-width: 1025px) {
			.-right {
				padding-right: 0;
			}
			.-left {
				padding-left: 0;
			}
		}

		.-right {
			@media(max-width: 768px) {
				display: none;
			}
		}


	}

	.contato-form {
		background-color: #f0f3f2;
    	padding: 80px 35px 50px;
    	position: relative;

		@media(max-width: 1024px) {
			margin: 0;
		}
	}

	.contato-info {
		background-color: #f0f3f2;
		text-align: center;
		padding: 20px;

		h3 {
		    font-size: .92em;
		}
		p {
			font-size: .85em;
		}
		strong {
			font-size: .9em;
		    padding-top: 10px;
		    display: block;
		}
		a {
			color: #333;
			display: block;
		}
		br {
			display: none;
		}
	}



	.contato-social {
		position: absolute;
		right: 35px;
		bottom: 50px;

		.link {
			background-color: #48c4d4;
		    color: #fff;
		    width: 32px;
		    height: 32px;
		    margin-left: 10px;
		    display: inline-flex;
		    justify-content: center;
		    align-items: center;
		    border-radius: 50%;
		}
	}


	// hacks
	input, textarea {
	    background-color: #fff;
		font-size: .9em;
	    font-weight: 600;
	    color: #728b9c;
	    border: none;

		@include placeholder {
	        opacity: 1;
	        color: #99a9b5;
	    };
	}
	textarea {
	    padding: 20px;
	}

	.btn {
	    font-size: 1.2em !important;
	    font-weight: 700 !important;
	    outline: 0 !important;
	    color: #222 !important;
	    border: 3px solid #222 !important;
		border-radius: 0 !important;

		&:focus, &:hover {
			background-color: #222 !important;
			color: #fff !important;
			transition: 300ms ease-in-out;
		}
	}


}
