@import "vars.scss";
@import "pagination.scss";

.empresas {

	.empresas-holder {

		@media(max-width: 1024px) {
			margin: 0;
		}

	}

	.empresas-list {
		background-color: #f4f4f4;
		padding: 50px 165px 50px 0;
		position: relative;

		@media(max-width: 1024px) {
			padding: 32px;
			order: 2;
		}

		&::before {
			content: '';
			background-color: #f4f4f4;
			height: 100%;
			width: 100vw;
			position: absolute;
			top: 0;
			bottom: 0;
			right: 100%;
		}

		&.-page {
			background: none;
			padding: inherit;

			&::before {
				display: none;
			}
		}
	}

	.empresas-destaque {
		margin: 0 0 80px;
		padding: 0;

		.destaque, .image, .content {
			padding: 0;
			margin: 0;
		}

		.destaque img {
			@media(max-width: 1024px) {
				width: 100%;
			}
		}

		.content {
			background-color: #f0f3f2;
			padding: 50px 30px;

			.title {
				font-size: 2em;
				color: #333144;
			}

			.text {
				font-size: .9em;
				font-weight: 400;
				color: #5f727f;
			}
		}
	}

	.empresas-navigation {
		padding-bottom: 120px;
	}

	.empresas-nav {
		margin-bottom: 15px;
		display: flex;

		@media(max-width: 576px) {
			display: none;
		}

		&.-page {
			margin-bottom: 0;

			@media(max-width: 768px) {
				margin-bottom: 30px;
			}


			.empresa-btn {
				font-size: 1.4em;
				width: 28px;
			}
		}

		.empresa-btn {
			background-color: transparent;
			font-size: 1em;
			font-weight: 600;
			color: #636363;
			padding: 0;
			border: none;
			width: 24px;
			height: 32px;
			cursor: pointer;
			transition: 300ms ease-in-out;

			&:hover, &.active {
				background-color: #636363;
				color: #fff;
			}
		}
	}

	.empresas-search {
		margin-bottom: 40px;

		&.-page {
			margin-bottom: 0;

			.search {
				width: 100%;
			}
		}

		.search {
			width: 50%;
			position: relative;

			@media(max-width: 576px) {
				width: 100%;
			}

			.input {
				border-color: #b7b7b7
			}
			.submit {
				position: absolute;
				top: 0;
				right: 0;
				height: 100%;
				width: 60px;
				-webkit-appearance: none;
				background: none;
				border: 0;
				cursor: pointer;
			}
		}
	}

	.empresa {
		color: #363636;
		border-bottom: 1px solid #b7b7b7;
		padding-bottom: 30px;
		margin-bottom: 40px;

		&.-page {
			padding-bottom: 60px;
			margin-bottom: 60px;
		}

		&.-load {
			border-bottom: 0;
		}

		&.-error {
			width: 100%;
			padding-left: 0;
		}

		.empresa-title {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 20px;

			.title-holder {
				.title {
					font-size: 1.25em;
					font-weight: 700;
					margin: 0;
				}
				.title a {
					color: currentColor;
				}
				.category {
					font-size: .8em;
					font-weight: 300;
					display: block;
				}
			}

		}

		.empresa-content {
			font-size: .9em;
			font-weight: 400;
			margin-bottom: 40px;
		}

		.empresa-icons {
			display: flex;
			align-items: center;

			a {
				color: currentColor;
				margin-right: 10px;
			}
			i {
				font-size: 1.5em;

				&.icon-whatsapp {
					font-size: 1.7em;
				}
			}
		}


	}

	.empresas-title {

		@media(max-width: 1024px) {
			margin-bottom: 30px;
			order: 1;
		}

		.title-holder {
			height: 200px;
			width: 100%;
			position: relative;

			@media(max-width: 1024px) {
				height: auto;
			}
		}

		.title span {
			font-weight: 700;
		}

		.title-absolute {
			position: absolute;
			width: 150%;
			top: 0;
			right: 0;

			@media(max-width: 1024px) {
				position: inherit;
				width: auto;
				top: inherit;
				right: inherit;
			}
		}
	}

}
