@import "vars.scss";
@import "slick.scss";
@import "banner.scss";
@import "mcustom-scroll.scss";

.about {
    background-image: url(../images/bg-sobre.jpg);
	background-color: #fff;
    background-position: right top;
    background-repeat: no-repeat;
    background-size: contain;
    height: auto;
    padding: 150px 0;

	@media(max-width: 1024px) {
    	padding: 60px 0;
	}
	@media(max-width: 768px) {
		background-image: none;
	}

}

.stats {
    background-image: url(../images/bg-default.png);
	background-color: #fff;
    background-repeat: repeat;

	@media(max-width: 1024px) {
		background-image: none;
	}

	.stats-holder {
		@media(max-width: 1024px) {
			margin: 0;
		}
	}

    .stats-item {
        padding: 85px 0 55px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

		@media(max-width: 1024px) {
			padding: 60px;
		}
		@media(max-width: 768px) {
			padding: 40px;
		}

        &:first-child {
            background-color: $color-default;
        }
        &:nth-child(2) {
            background-color: $color-secondary;
        }
        &:nth-child(3) {
            background-color: $color-tertiary;
        }

        .number, .label {
            font-weight: 100;
            color: #fff;
            line-height: 1;
            margin: 0;
        }
        .number {
            font-size: 5.6em;

			@media(max-width: 1024px) {
				font-size: 3em;
			}
        }
        .label {
            font-size: 1.6em;
            padding-left: 20px;

			@media(max-width: 1024px) {
				font-size: 1.4em;
				padding: 0;
			}
			@media(max-width: 1024px) {
				font-size: 1.2em;
			}
        }
    }
}

.posts {
    background: rgb(79,80,84);
    background: linear-gradient(0deg, rgba(79,80,84,1) 0%, rgba(79,80,84,1) 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
    padding: 140px 0 50px;

	@media(max-width: 768px) {
		background: #fff;
	}

    .posts-content {
        margin-bottom: 50px;

		@media(max-width: 768px) {
			margin-bottom: 0;
		}
    }

    .posts-newsletter {
		@media(max-width: 768px) {
			background-color: #4f5054;
			text-align: center;
			padding-top: 20px;
			padding-bottom: 20px;
			margin: 0;
		}

        .label {
            font-size: 2em;
            color: #fff;
            text-align: right;
            align-self: center;

			@media(max-width: 768px) {
				font-size: 1.6em;
			}
			@media(max-width: 767px) {
				text-align: center;
				margin-bottom: 20px;
			}

			h4 {
				margin-bottom: 0;
			}
        }
    }


    // hack main-title
    .main-title {
        padding-bottom: 100px;

		@media(max-width: 768px) {
			padding-bottom: 60px;
		}
		@media(max-width: 576px) {
			padding-bottom: 40px;
		}
    }

}

.empresas {
	background-color: #fff;

    .empresas-receive {
        height: 50vh;
        overflow: hidden;
    }
    .title-home {
        font-size: 3.125em;
        font-weight: 300;
        color: #333;
        text-transform: uppercase;
        text-align: right;

		@media(max-width: 576px) {
			font-size: 2.25em;
		}
    }
}

.featured {

    .presentation {
        background-image: url(../images/bg-home-featured.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 60px 0;

        // hack .main .title
        .main-title .title {
            font-size: 1.5em;
        }
    }

    .participate {
		background-color: #fff;
        padding: 150px 0 100px;
        border-bottom: 1px solid #d9dadb;
    }

	.featured-btn {
		@media(max-width: 576px) {
	    	text-align: center;
	    	margin-bottom: 15px;
		}
	}
}

.instagram {
	background-color: #fff;
    padding-top: 115px;
    padding-bottom: 75px;

    .instagram-holder {
        margin-bottom: 40px;
    }

    .image {
        margin-bottom: 0;
        position: relative;
        overflow: hidden;
		height: 25vh;

        &:hover .caption {
            transform: translateY(0);
        }

        img {
            width: 100%;
        }
    }

    .caption {
        background-color: rgba(0,0,0,0.67);
        font-size: .8em;
        font-weight: 400;
        color: #fff;
        width: 100%;
        padding: 10px 15px;
        position: absolute;
        bottom: 0;
        transition: 300ms transform ease-in-out;
        transform: translateY(100%);
    }
}
