@import "vars.scss";
@import "pagination.scss";

.imprensa {

	.featured {
		padding-bottom: 30px;
	}

	.imprensa-title {

		.subtitle {
			font-size: 1.1em;
			font-weight: 400;
			text-transform: uppercase;
			text-align: center;
			padding: 20px 0 80px;
		}
	}

	.imprensa-featured {
		background-repeat: no-repeat;
		background-size: 100% auto !important;
		height: 200px;
		width: 100%;
		position: relative;
		margin-bottom: 50px;
		display: block;
		cursor: pointer;

		&:hover {

			.featured-mask {
				opacity: 1;
			}

		}

		&.-large {
			height: 450px;
			width: 100%;
			margin-bottom: 0;

			.featured-mask {

				[class^="icon-"], [class*=" icon-"] {
					font-size: 1.8em;
				}
			}

		}


		.featured-title {
			color: #fff;
			text-align: center;
			line-height: 120px;

			img {
				width: 90px;
			}
		}

		.featured-mask {
			background-color: rgba(0, 0, 0, .8);
			height: 100%;
			width: 100%;
			display: flex;
		    align-items: center;
		    justify-content: center;
			opacity: 0;
			transition: 350ms ease-in-out;

			[class^="icon-"], [class*=" icon-"] {
				font-size: 1.4em;
    			color: #fff;
    			margin: 0 8px;
			}
		}

	}

	.imprensa-artigos {

		.artigos {
			border-bottom: 1px solid #C3C3C3;
			padding-bottom: 40px;
			margin-bottom: 40px;

			&:last-child {
				margin: 0;
				padding: 0;
				border: none;
			}
		}

		.artigo-title {
			font-size: 1.4em;
		    font-weight: 600;
		    color: #000;
		    margin-bottom: 5px;
		    display: block;
		    cursor: pointer;
		    transition: 300ms ease-in-out;

			&:hover {
				color: $color-blue;
			}
		}

		.artigo-meta {
		    display: flex;
		    align-items: center;

			> div {
				&::after {
					content: '|';
					margin: 0 8px;
					opacity: .7;
				}

				&:last-child::after {
					display: none;
				}
			}

			.icons [class^="icon-"], [class*=" icon-"] {
				font-size: 1.1em;
    			margin: 0 5px;
			}
		}
	}

	.imprensa-parts-info {
		@media(max-width: 768px) {
			display: none;
		}
	}

	.imprensa-info {
		background-color: #f0f3f2;
		text-align: center;
		padding: 20px;
		margin-bottom: 20px;

		&.-category {
			text-align: left;
		}

		h3 {
		    font-size: .92em;
		}
		p {
			font-size: .85em;
		}
		strong {
			font-size: .9em;
		    padding-top: 10px;
		    display: block;
		}
		a {
			color: #333;
			display: block;
		}
		br {
			display: none;
		}
	}

}

.filter {
    width: 100%;
    margin-bottom: 40px;

	// .form-filter .input-control {
	// 	@media(min-width: 769px) {
	// 		padding-right: 0;
	// 	}
	// }

    .btn {
		font-size: .9em;
		display: block;

        @media(min-width: 769px) {
            width: 100%;
			padding: 17px 0;
        }

    }
}
