@import "vars.scss";
@import "header.scss";
@import "footer.scss";
@import "newsletter.scss";

html,
body {
    overflow-x: hidden;
}

body {
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    padding-top: 150px;

    //-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @media(max-width: 1024px) {
        padding-top: 80px;
    }

    &.home {
		background-color: #515054;
		padding-top: 0;

		@media(max-width: 768px) {
			padding-top: 80px;
		}
    }
}


strong {
    font-weight: 700;
}

* {
    outline: none !important;
    text-rendering: optimizeLegibility;
}

.noscroll {
    overflow: hidden !important;
}

.container {
    max-width: 1180px;

    @media(max-width: 1180px) {
        max-width: 100%;
        padding: 0 32px;
    }
    @media(max-width: 576px) {
        padding: 0 24px;
    }
    @media(max-width: 375px) {
        padding: 0 16px;
    }

}

.default {
    padding-top: 100px;
    padding-bottom: 100px;

    img {
        max-width: 100%;
        height: auto;
    }
}

a {
    color: $color-default;
    text-decoration: none !important;
    -webkit-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;

    &:hover {
        opacity: .7;
    }

}

p {
    font-size: 1em;
    font-weight: 300;
    line-height: 165%;
    color: #838383;
    margin-bottom: 25px;

	@media(max-width: 1024px) {
		font-size: 1em;
	}

    &:last-child {
        margin-bottom: 0;
    }

}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}


// main-title
.main-title {
    padding-bottom: 50px;

    @media(max-width: 1024px) {
        margin: 0;
    }

    .title {
        font-size: 2em;
        font-weight: 700;
        color: $color-default;
        line-height: 125%;
        margin: 0;
        padding: 0;
        position: relative;
        width: auto;
        display: inline-block;

		@media(max-width: 768px) {
	        font-size: 1.8em;
	    }
		@media(max-width: 576px) {
			font-size: 1.5em;
		}


        &.-pages {
            font-size: 2.125em;
            font-weight: 300;
            color: #46485c;
            text-align: center;
            text-transform: uppercase;

			@media(max-width: 768px) {
				font-size: 2.8em;
			}
			@media(max-width: 576px) {
				font-size: 2em;
			}

            .subtitle {
                font-size: .4em;
                font-weight: 500;
                color: #838282;
                line-height: 100%;
                padding-top: 15px;
                display: block;
            }
        }

        &.-huge {
            font-size: 3.125em;

			@media(max-width: 768px) {
				font-size: 2.8em;
			}
			@media(max-width: 576px) {
				font-size: 2em;
			}
        }

        &.-thin {
            font-weight: 100;
            color: #222;
        }

        &.-underlined {
            font-weight: 100;
            color: #222;

            &::before {
                content: '';
                background-color: #48c4d4;
                width: 70%;
                height: 2px;
                display: block;
                margin-bottom: 15px;
            }

            &.-up {
                &::before {
                    margin: 0 auto 15px;
                }
            }

            &.-down {
                &::before {
                    display: none;
                }
                &::after {
                    content: '';
                    background-color: #48c4d4;
                    width: 40%;
                    height: 2px;
                    display: block;
                    margin-top: 35px;
                }
            }

        }

        &.-no-uppercase {
            text-transform: inherit;
            font-weight: 400;
            color: #222;
        }

    }
}


// btn default
.btn-control {
    &.-center {
        text-align: center;
    }
}
.btn {
    font-size: 1.2em;
    font-weight: 700;
    padding: 15px 50px;
    margin: 0;
    width: auto;
    min-width: auto;
    display: inline-flex;
    outline: 0;
    color: #222;
    text-decoration: none;
    text-shadow: none;
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
    border: 3px solid #222;
    overflow: hidden;
    opacity: 1 !important;
    cursor: pointer;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -moz-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    @media(max-width: 1440px) {
        font-size: 1em;
    }

    &.-white {
        border-color: #fff;
        color: #fff;

        &:hover {
            background-color: #fff;
            color: #222;
        }
    }

    &.-black {
		background-color: transparent;
        border-color: #222;
        color: #222;

        &:hover {
            background-color: #222;
            color: #fff;
        }
    }

    &.-rounded {
        background-color: $color-secondary;
        color: #222;
        padding: 28px 55px;
        border-radius: 60px;
        border: none;

		@media (max-width: 1440px) {
			padding: 20px 30px;
		}

        &:hover {
            background-color: $color-default;
            color: #fff;
        }
    }

    &.-icon {
        padding-right: 50px;

		@media (max-width: 1440px) {
			padding-right: 25px;
		}

        i {
            transition: 300ms transform ease-in-out;
        }

        &:hover i {
            transform: translateX(8px);

        }

        i.left {
            margin-left: 20px;
        }
        i.right {
            margin-right: 20px;
        }
    }

    &.-small {
        padding: 8px 26px;
        font-size: 1.1em;
        border-radius: 4px;
    }

    &:hover {
        color: currentColor;
        opacity: .7;
    }


}


// search
.search {
    position: relative;

    .submit {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 40px;
        -webkit-appearance: none;
        background: none;
        border: 0;
        cursor: pointer;
    }
}


// posts default
.post {
    @media(max-width: 768px) {
        margin-bottom: 30px;
    }

    &:hover .title a {
        opacity: .7;
    }

    .posts-content {
        margin-bottom: 50px;
    }

    .caption {
        width: 100%;
        padding: 10px 0 0;
        display: flex;
        align-items: center;
    }

    .image {
        background-color: #4f5054;
        display: block;

        &:hover {
            opacity: 1;

            img {
                opacity: .7;
            }
        }
        img {
            width: 100%;
            height: auto;
            display: block;
            transition: 300ms ease-in-out;
        }
    }

    .post-title {

        .title {
            margin: 0;
        }
        a {
            font-size: .9em;
            font-weight: 400;
            color: #fff;

            &.black {
                color: #3c3950;
            }

            .date {
                font-size: .9em;
                font-weight: 300;
            }
        }
    }

}



// defaults
.center {
    text-align: center;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}
