@import "vars.scss";
@import "magnific.scss";


.page {
    background-image: url(../images/bg-page.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

#sobre {
    .page-content {
        @media(max-width: 768px) {
            flex-direction: column-reverse;
        }
    }
    .content {
        @media(max-width: 768px) {
            padding-bottom: 40px;
        }
    }
    .image {
        @media(max-width: 768px) {
            &:nth-of-type(1n+15) {
                display: none;
            }
        }
    }

}

.content {
    color: #fff;

    a {
        color: $color-default;

        &:hover {
            opacity: .6;
        }
    }
}

.main-title {
    .title {
        text-transform: uppercase;
    }
}

.text {
    p {
        font-size: 4.8em;
        color: #fff;
        line-height: 125%;

        @media(max-width: 1024px) {
            font-size: 3.8em;
        }
        @media(max-width: 768px) {
            display: none;
        }
    }

    .first {
        opacity: .3;
    }
    .second {
        opacity: .5
    }
}

.cta {
    padding-top: 100px;

    .btn {
        width: 100%;
    }

    .cta-btn {

        @media(max-width: 576px) {
            .btn {
                border-radius: 8px !important;
            }
        }

        &:first-child .btn {
            border-radius: 8px 8px 8px 0;
        }
        &:last-child .btn {
            border-radius: 8px 8px 0 8px;
        }
    }

}

.galeria {
    padding-top: 20px;

    .image {
        margin-bottom: 30px;

        img {
            width: 100%;
        }

        &:nth-of-type(1n+16) {
            display: none;
        }
    }
}

.media-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;

    iframe, video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
