@import 'vars.scss';
@import 'magnific.scss';
@import 'main.scss';

.empresa {
    width: 100%;
    position: relative;

    .empresa-links {
        text-align: center;
        padding-bottom: 25px;
        margin-bottom: 25px;
        border-bottom: 1px solid #ccc;

        .redes-block {
            display: inline-block;
        }

        a {
            font-size: 1em;
            color: #838282;
            text-transform: uppercase;
            margin: 0 15px;

            &:hover {
                color: $color-default;
            }
        }
        .intern, .extern {
            align-self: center;
        }
        .extern a {
            font-size: 28px;
            margin: 0 5px;
        }

    }

    .empresa-dados {
        margin-bottom: 20px;
        text-align: center;

        .dados {
            margin-bottom: 50px;
        }

        .item {
            font-size: .85em;
            color: #838282;
            text-transform: uppercase;
            margin: 0 15px;

            strong {
                font-weight: 600;
                margin-right: 5px;
            }
        }

        .line {
            font-size: 18px;
            font-weight: 500;
            color: #838282;
            text-align: left;
            margin-bottom: 20px;
            display: block;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .empresas-destaques {

        .line {
            font-size: 18px;
            font-weight: 500;
            color: #838282;
            text-align: left;
            margin-bottom: 20px;
            display: block;
        }

        .image img {
            max-width: 100%;
        }

    }

    .empresas-nav {
        margin-top: 60px;
        padding-top: 25px;
        // border-top: 1px dashed #ccc;

        .screen-reader-text {
            display: none;
        }

        .nav-links {
            display: flex;
            justify-content: space-between;

            a {
                @extend .btn;
                background-color: transparent;
                color: #46485b;
                padding: 8px 18px;
                border-color: #46485b;
                border-radius: 4px;
                align-items: center;

                &:hover {
                    background-color: #46485b;
                    color: #fff;
                    border-color: #46485b;
                }
            }

            .nav-next a::after {
                content: '\e912';
                font-family: 'icomoon';
                font-size: .8em;
                margin-left: 10px;
            }
            .nav-previous a::before {
                content: '\e913';
                font-family: 'icomoon';
                font-size: .8em;
                margin-right: 10px;
            }

        }

    }

}
