@import "vars.scss";

.post-single {
    padding: 80px 0;

    @media(max-width: 768px) {
        padding: 40px 0 60px;
    }

    .title {

        .post__title {
            margin-bottom: 5px;
            line-height: 150%;

            @media(max-width: 768px) {
                font-size: 1.5em;
            }

            h1 {
                font-size: 1.8em;
                font-weight: 600;
                line-height: 130%;
            }
            a {
                color: #222;

                &:hover {
                    opacity: .6;
                }
            }
        }

        .post__socials {
            margin-bottom: 40px;
            display: flex;
            align-items: center;

            .social {
                margin-right: 50px;
                text-align: left;

                &.-right {
                    text-align: right;
                }

                a {
                    font-size: .9em;
                    font-weight: 100;
                    color: #99a9b5 !important;
                    margin-left: 0;
                    margin-right: 10px;
                    opacity: 1;

                    &:hover {
                        opacity: .6;
                    }
                }
            }

            .date {
                font-size: .95em;
                color: #333 !important;
            }

        }

        .post__tags {

            .tags {
                display: flex;
                list-style: none;
                padding: 0;
            }
            .tag a {
                background-color: #e7edf0;
                font-weight: 600;
                font-size: 13px;
                color: #99a9b5 !important;
                line-height: 25px;
                max-width: 400px;
                max-height: 100px;
                display: block;
                margin: 10px 20px 10px 10px;
                padding: 2px 20px;
                border-radius: 4px;
                overflow: auto;

                &::before {
                    content: "";
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 10px;
                    width: 0;
                    height: 0;
                    position: absolute;
                    border-top: 14px solid transparent;
                    border-bottom: 14px solid transparent;
                    border-right: 14px solid #e7edf0;
                    margin-top: -2px;
                    margin-left: -32px;
                }
            }
        }

    }

    .content {

        p {
            font-size: 1em;
            color: #333;

            a {
                strong{
                    font-weight: 600;
                }
            }

        }

        .wp-caption {
            width: auto !important;

            .wp-caption-text {
                width: auto;
            }
        }
    }


    // wordpress defaults
    .wp-caption {
        position: relative;
        max-width: 100%;

        .wp-caption-text {
            display: block;
            margin: 0;
            font-weight: 400;
            font-size: 13px;
            line-height: 18px;
            color: #767676;
            padding: 13px 0 26px;
        }
    }

}

.post-relateds {
    padding: 120px 0 0;

    @media(max-width: 1024px) {
        padding: 60px 0;
    }
    @media(max-width: 768px) {
        padding: 40px 0 60px;
    }

    article {
        margin-bottom: 30px;
    }

    .article-holder {
        border-bottom: 1px solid #E7EAEC;
        padding-bottom: 30px;
        height: 100%;
    }

    .relateds-title {
        margin-bottom: 40px;

        .title {
            font-size: 1.6em;
            text-transform: uppercase;
            display: flex;
            align-items: center;

            @media(max-width: 1024px) {
                font-size: 1.4em;
            }
            @media(max-width: 576px) {
                font-size: 1.2em;
            }

        }
        img {
            margin-right: 15px;
        }
    }


    .caption {
        background-color: transparent !important;
        position: inherit;
        bottom: inherit;
        min-height: inherit;
        width: 100%;
        padding: 0;

        transition: unset;
    }

    .image {
        margin-bottom: 10px;
        display: block;

        &:hover {
            opacity: .7;
        }

        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }

    .post-title {

        .title {
            font-size: 1em;
        }
        a {
            font-size: .8em;
            font-weight: 600;
            color: #55d2e2 !important;

            .date {
                color: #3c3950;
            }
        }

    }
}

.sidebar {
    padding-left: 40px;

    @media(max-width: 768px) {
        display: none;
    }

    .sidebar-info {
        background-color: #ededed;
        padding: 20px;
        margin-bottom: 30px;

        h6 {
            font-size: .9em;
            margin-bottom: 10px;
        }
        p {
            font-size: .85em;
            font-weight: normal;
            color: #333;
        }
    }

    img {
        width: 100%;
        height: auto;
        display: block;
    }
}
