@import "vars.scss";

.imprensa {
	width: 100%;
	position: relative;

	.imprensa-links {
		text-align: center;
		padding-bottom: 25px;
		margin-bottom: 25px;
		border-bottom: 1px solid #ccc;
		display: flex;
		justify-content: center;

		.redes-block {
			color: #838282;
			text-transform: uppercase;
		}

		a {
			font-size: 1em;
			color: #838282;
			text-transform: uppercase;
			margin: 0 15px;

			&:hover {
				color: $color-default;
			}
		}
	}

	.imprensa-dados {
		text-align: center;
	    margin-bottom: 50px;

		.item {
			font-size: .85em;
			color: #838282;
		    text-transform: uppercase;
		    margin: 0px 15px;
		}
	}

	.imprensa-content {


		img, iframe {
			max-width: 100%;
			margin: 0 auto;
			display: block;
		}
	}

}
