@import "vars.scss";
@import "mcustom-scroll.scss";

.default {
    padding-bottom: 0
}

.sobre-content {
    background-color: #65666a;
    background-image: url(../images/bg-sobre.png);
    background-repeat: repeat-y;
    background-position: top right;
    position: relative;
    margin-bottom: 130px;

    .image {
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 50vw;

		@media(max-width: 991px) {
			display: none;
		}
    }

    .content {
        height: 70vh;
        padding: 50px;

		@media(max-width: 991px) {
			height: auto;
			padding: 50px 20px;
		}
    }

    .title {
        font-size: 1.5em;
        font-weight: 600;
        color: #fff;
    }

    .text {
        height: 100%;
        overflow: hidden;
        padding-bottom: 50px;

        p {
            color: #fff;
        }
    }
}

.sobre-content-default {
    margin-bottom: 100px;

    h2 {
        font-size: 1.825em;
        font-weight: 300;
        padding-bottom: 50px;
    }
}

.sobre-actions {
    background-color: #f0f3f2;
    padding-top: 150px;
    padding-bottom: 50px;
    position: relative;

    &::before {
        content: '';
        background-image: url(../images/bg-sobre-arrow.png);
        background-repeat: no-repeat;
        width: 140px;
        height: 70px;
        position: absolute;
        top: 0;
        left: calc(50% - 70px);
    }

    p {
        color: #333;
    }

	.action-left {
	    @media(max-width: 768px) {
			margin-bottom: 35px;
		}
	}

    .btn1 .text {
        font-size: 1em;
        font-weight: 600;
        text-transform: uppercase;
    }

    .btn2 .title {
        font-size: 2em;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;

		@media(max-width: 768px) {
			font-size: 1.8em;
		}

        &.-center {
            text-align: center;
        }
    }
}
