@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?2epnkp');
    src: url('../fonts/icomoon.eot?2epnkp#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?2epnkp') format('truetype'),
    url('../fonts/icomoon.woff?2epnkp') format('woff'),
    url('../fonts/icomoon.svg?2epnkp#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-download:before {
  content: "\e919";
}
.icon-more:before {
  content: "\e900";
}
.icon-search:before {
  content: "\e901";
}
.icon-date:before {
  content: "\e902";
}
.icon-doc:before {
  content: "\e903";
}
.icon-address:before {
  content: "\e904";
}
.icon-email:before {
  content: "\e905";
}
.icon-facebook:before {
  content: "\e906";
}
.icon-facebook2:before {
  content: "\e907";
}
.icon-user:before {
  content: "\e908";
}
.icon-instagram:before {
  content: "\e909";
}
.icon-instagram2:before {
  content: "\e90a";
}
.icon-like:before {
  content: "\e90b";
}
.icon-ico-link:before {
  content: "\e90c";
}
.icon-linkedin:before {
  content: "\e90d";
}
.icon-midia:before {
  content: "\e90e";
}
.icon-news:before {
  content: "\e90f";
}
.icon-news2:before {
  content: "\e910";
}
.icon-pinterest:before {
  content: "\e911";
}
.icon-arrow-right:before {
  content: "\e912";
}
.icon-arrow-left:before {
  content: "\e913";
}
.icon-alert:before {
  content: "\e915";
}
.icon-twitter:before {
  content: "\e918";
}
.icon-url:before {
  content: "\e914";
}
.icon-youtube:before {
  content: "\e916";
}
.icon-arrow-up:before {
  content: "\f077";
}
.icon-arrow-down:before {
  content: "\f078";
}
.icon-whatsapp:before {
  content: "\f232";
}
.icon-minus:before {
  content: "\e917";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
